@model Web.ProductServiceReference.DetailProductDTO

@{
    ViewBag.Title = "Details2";
}

<h2>Товар</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StandardCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StandardCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubcategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubcategoryName)
        </dd>


    </dl>
    @foreach (var photo in Model.LargePhotosIDs)
    {
        <img src="~/Product/Photo/@photo" />
    }
    <form method="post" action="/Cart/Add">
        <input type="number" name="quantity" placeholder="Количество" />
        <input type="hidden" value="@Model.ProductID" name="productId" />
        <input type="submit" placeholder="Добавить" />
    </form>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
