@using Web.ProductServiceReference
@model IEnumerable<ShortProductDTO>
@using Web.Helpers
@using Web.Models
@{
    ViewBag.Title = "Products";
}

<h2>Продукты</h2>
<table class="table">
    <tr>
        <th>
            Ajnj
        </th>
        <th>
            Название
        </th>
        <th>
            Цвет
        </th>
        <th>
            Артикул
        </th>
        <th>
            Наличее
        </th>
        <th>
            Цена
        </th>
        <th>
            Категория
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in ViewData["Products"] as IEnumerable<ShortProductDTO>)
    {
        <tr>
            <td>
                <img src="~/Product/Thumbnail/@Html.DisplayFor(modelItem => item.ThumbNailPhotoID)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StandardCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubcategoryName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id=item.ProductID })
            </td>
            <td>
                <form method="post" action="/Cart/Add">
                    <input type="number" name="quantity" placeholder="Количество" />
                    <input type="hidden" value="@item.ProductID" name="productId" />
                    <input type="submit" placeholder="Добавить" />
                </form>
            </td>
        </tr>
    }

</table>
<br />
<div class="btn-group">
    @Html.PageLinks(ViewData["PageInfo"] as PageInfo, x => Url.Action("Index", new { page = x }))
</div>
