@model Web.PurchaseOrderServiceReference.PurchaseOrderDetailRowDTO

<div>
    <h4>PurchaseOrderDetailRowDTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LineTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LineTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseOrderDetailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseOrderDetailID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseOrderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseOrderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivedQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivedQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RejectedQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RejectedQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockedQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockedQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
